[submodule "aihubproject"]
	path = aihubproject
	url = https://github.com/thanawatkate/aihubproject.git

[submodule "sitebase"]
	path = sitebase
	url = https://github.com/thanawatkate/sitebase.git
   
 
[submodule "cookebannersystem"]
	path = cookebannersystem
	url = https://github.com/thanawatkate/cookie-banner-system.git
